{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!--Bootswatch-->
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/litera/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-pLgJ8jZ4aoPja/9zBSujjzs7QbkTKvKw1+zfKuumQF9U+TH3xv09UUsRI52fS+A6" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'image/' %}">
    <title>查询</title>

</head>
<body>

<!--导航栏-->
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container">
        <!--登陆和注册的导航栏链接-->
        <a class="navbar-brand" href="/" style="font-size: 1.5rem; color: white">城市书吧</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07"
                aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--判断是否登录-->
        {% csrf_token %}
        <div class="btn-group" role="group" style="font-size: 1rem">

            {% if request.session.user_name %}

            <a class="my-2 my-sm-0 nav-link" style="color: white">欢迎您，读者 {{request.session.user_name}}</a>

            <a href="/user" class="my-2 my-sm-0">
                <button class="btn btn-info" type="submit">账号</button>
            </a>
            <a href="/logout" class="my-2 my-sm-0">
                <button class="btn btn-danger" type="submit">退出</button>
            </a>

            {% else %}
            <a href="/login" class="my-2 my-sm-0">
                <button class="btn btn-info" type="submit">登录</button>
            </a>
            <a href="/register" class="my-2 my-sm-0">
                <button class="btn btn-success" type="submit">注册</button>
            </a>

            {% endif %}
        </div>
    </div>
</nav>

<!--详情块-->
<div class="container" style="padding-top: 30px;">
    <!-- 加载图书详细信息 -->
    <div class="col-md-12 col-sm-10">
        {% csrf_token %}
        <h3 style="font-family: Helvetica Neue">{{ book.book_name }}</h3>
        <hr>

        <!--验证是否登录-->
        {% if request.session.user_name %}
        <div style="margin-bottom: 10px">
            <a href="/borrow/{{ book.book_isbn }}">
                <button class="btn btn-outline-info my-2 my-sm-0">借书</button>
            </a>

            <a href="#">
                <button class="btn btn-outline-info my-2 my-sm-0">收藏</button>
            </a>
        </div>
        {% else %}
        <div class="alert alert-warning" role="alert">您尚未登陆，不能对图书操作</div>
        {% endif %}

        <!-- 提示借阅操作的结果消息-->
        {% if messages %}

        {% for message in messages %}
        {% if message.tags == "error" %}
        <div class="alert alert-warning" role="alert">{{ message }}</div>
        {% endif %}
        {% if message.tags == "success" %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endif %}
        {% endfor %}

        {% endif %}

        <script>
            function borrowconfirm(){
                var check = confirm("R U Sure?");
                if(check == true){
                    alert("sucessfully borrow!");
                }else{
                    alert("error!");
                 }
            }

        </script>

        <hr>
        <div class="row">
            <div class="col-md-8">
                <p><strong>Author:</strong>{{ book.book_author }}</p>
                <p><strong>ISBN:</strong> {{ book.book_isbn }}</p>
                <p><strong>Publish:</strong> {{ book.book_press }}</p>
                <p><strong>Publish Date:</strong>{{ book.book_publish_date }}</p>
                <p><strong>Language:</strong> {{ book.book_language }}</p>
                <p><strong>Theme:</strong> {{ book.book_category_choice }}</p>
                <p><strong>Number:</strong> {{ book.book_number }}</p>
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-outline-primary">浏览</button>
                    <button type="button" class="btn btn-info">{{ book.book_views }}</button>
                </div>
            </div>

            <div class="col-md-4" style="align: center">
                <img src="../static/image/{{book.book_name}}.jpg" width="180" height="240" alt="...">
            </div>
        </div>
        <hr>
        <h4>Summary:</h4>
        <p>
            {{ book.book_summary }}
        </p>
    </div>

<!--    <div class="col-md-4">-->
<!--        &lt;!&ndash; 这里可以放公告或者一些小故事&ndash;&gt;-->
<!--        <h2 id="detail">评论模块</h2>-->

<!--        <p>comment here</p>-->
<!--    </div>-->

    <hr>
</div>
<!-- /container -->

</body>
</html>