{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <!-- Bootstrap CSS -->

    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/index.css' %}" rel="stylesheet"/>
    <title>主页</title>
    <style>
    .search-block-content
    {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        background: url({% static 'image/PortlandDawn_ZH-CN6187930845_1920x1080.jpg' %})  no-repeat center 0px;
        background-size: cover;

         background-position: center 0;
         background-repeat: no-repeat;
         background-attachment: fixed;
          -webkit-background-size: cover;
          -o-background-size: cover;
          -moz-background-size: cover;
          -ms-background-size: cover;
    }
    </style>
</head>
<body>
<!--导航栏-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <!--登陆和注册的导航栏链接-->
        <a class="navbar-brand" href="/" style="font-size: 2rem">城市书吧</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07"
                aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--判断是否登录-->
        {% csrf_token %}
        <div class="btn-group" role="group" style="font-size: 1rem">
            {% if request.session.user_name %}
            <p class="my-2 my-sm-0" style="color: white">欢迎您，读者</p>
            <a class="my-2 my-sm-0" href="/user" style="font-color: blue">
                <p class="my-2 my-sm-0">{{request.session.user_name}} </p>
            </a>
            <p class="my-2 my-sm-0" style="color: white"> | </p>
            <a href="/logout">
                <p class="my-2 my-sm-0">退出</p>
            </a>

            {% else %}
            <a href="/login" class="btn btn-outline-success">登录</a>
            <a href="/register" class="btn btn-outline-success">注册</a>

            {% endif %}
        </div>
    </div>
</nav>

<!--搜索框-->
<div class="search-block-content" style="height: 314px; margin-bottom: 32px; padding-top: 64px;">
        <!--    搜索块-->
        <div class="container">

            <h4 style="font-family: fangsong">倘能生存，我当然仍要学习。 ——鲁迅</h4>

            <!--查询的输入框表单-->
            <!--post回到query界面-->
            <form class="form-horizen" action="/query/" method="post" role="form">
                {% csrf_token %}
                <div class="form-inline">
                    <div class="form-group" style="margin-top: 64px;">
                        <input class="form-control span3" type="text" name="search" id="book_search"
                               placeholder="输入图书名" aria-label="Search" autofocus required>
                        <button type="submit" class="btn btn-primary ">查询</button>
                    </div>

                </div>
            </form>


        </div>
</div>

<div class="container" style="">
    <!-- 加载最近上架的新书 -->
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <h5 style="font-family: fangsong; padding-left: 10px">本周新书推荐</h5>
                <a href="#">
                    <h5 style="font-family: fangsong;">更多 »</h5>
                </a>
            </div>
            <hr>
            <div class="row">
                <!-- 展示最新上架的三本书-->
                {% for line in book_list %}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="../static/image/{{line.book_name}}.jpg" width="180" height="240" alt="...">
                        <div class="caption">
                            <a href="/book/{{line.book_isbn}}">
                                <p style="font-family: serif;"> {{line.book_name}}.{{line.book_author}} </p>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-4">
            <!-- 这里可以放公告或者一些小故事-->
            <h4 id="detail">借书须知</h4>
            <hr>
            <ol>
                <li>
                    读者每次至多借阅2本，且需要在15天之内归还。
                </li>
                <li>
                    借阅图书达到借阅时间上限，逾期未还，则1元/天。
                </li>
                <li>
                    若读者信誉良好，且借阅次数达到20次以上，则可增加其每次最多借阅数目。
                </li>
            </ol>
            <p>
                <a class="btn btn-secondary" href="#" role="button">更多注意事项 »</a>
            </p>
        </div>
    </div>

    <hr>
</div>
<footer class="container">
    <p>© Library System by Stan 2019</p>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
{# 以下三者的引用顺序是固定的#}
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>