{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
        <!-- Author: C   -->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <!-- Bootswatch CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/litera/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-pLgJ8jZ4aoPja/9zBSujjzs7QbkTKvKw1+zfKuumQF9U+TH3xv09UUsRI52fS+A6" crossorigin="anonymous">
    <link href="{% static 'css/index.css' %}" rel="stylesheet"/>
    <title>主页</title>
    <style>
    .search-block-content
    {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        background: url({% static 'image/PortlandDawn_ZH-CN6187930845_1920x1080.jpg' %})  no-repeat center 0px;
        background-size: cover;

         background-position: center 0;
         background-repeat: no-repeat;
         background-attachment: fixed;
          -webkit-background-size: cover;
          -o-background-size: cover;
          -moz-background-size: cover;
          -ms-background-size: cover;
    }


    </style>
</head>
<body>
<!--导航栏-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!--登陆和注册的链接-->
    <div class="container">
        <a class="navbar-brand" href="#" style="font-size: 1.5rem">
            <h4>城市书吧</h4>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07"
                aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!--判断是否登录-->
        {% csrf_token %}
        <div class="btn-group" role="group" style="font-size: 1rem">
            {% if request.session.user_name %}
            <a class="my-2 my-sm-0 nav-link" style="color: black">欢迎您，读者 {{request.session.user_name}}</a>
            <a href="/user" class="my-2 my-sm-0">
                <button class="btn btn-info" type="submit">账号</button>
            </a>
            <a href="/logout" class="my-2 my-sm-0">
                <button class="btn btn-danger" type="submit">退出</button>
            </a>

            {% else %}
            <a href="/login" class="my-2 my-sm-0">
                <button class="btn btn-info" type="submit">登录</button>
            </a>
            <a href="/register" class="my-2 my-sm-0">
                <button class="btn btn-success" type="submit">注册</button>
            </a>

            {% endif %}
        </div>
    </div>
</nav>

<!--搜索框-->
<div class="search-block-content" style="height: 320px; margin-bottom: 32px; padding-top: 64px;">
    <div class="container">
        <!-- 引用块 -->
        <blockquote class="blockquote">
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </blockquote>

        <!--查询的输入框表单-->
        <!--post回到query界面-->
        <div class="row" style="margin-top: 64px;">

            <form class="form-inline my-2 my-lg-0" action="/query/" method="post" role="form">
                {% csrf_token %}
                <input class="form-control mr-sm-2" type="text" name="search" id="search" placeholder="朝花夕拾">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">一键搜索</button>
            </form>
            <button class="btn btn-info my-2 my-sm-0" type="submit" style="margin-left: 12px">
                <a href="/query/" style="color:white">高级查询 »</a>
            </button>
        </div>

    </div>
</div>

<div class="container" style='font-family: Georgia, Cambria, "Times New Roman", Times, serif;'>
    <!-- 加载最近上架的新书 -->
    <div class="row">
        <div class="col-md-8">
            <!-- 新书推荐 -->
            <h5 style="padding-left: 10px">新书推荐</h5>
            <hr>
            <!-- 展示最新上架的六本书-->
            <div class="row">
                {% for line in book_list %}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="../static/image/{{line.book_name}}.jpg" width="180" height="240" alt="...">
                        <div class="caption">
                            <a href="/book/{{line.book_isbn}}">
                                <p> {{line.book_name}}.{{line.book_author}} </p>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- 这里可以放公告或者一些小故事-->
        <div class="col-md-4">
            <div class="card border-light mb-3" style="max-width: 20rem;">
                <div class="card-header">借书须知</div>
                <div class="card-body">
                    <ol class="list-group">
                        <li class="card-text">
                            读者可借图书2册
                        </li>
                        <li class="card-text">
                            图书外借期限为60天，在未逾期及无他人预约的情况下可续借两次。
                        </li>
                        <li class="card-text">
                            借阅图书达到借阅时间上限，逾期未还，则1元/天。
                        </li>
                        <li class="card-text">
                            若读者信誉良好，且借阅次数达到20次以上，则可增加其每次最多借阅数目。
                        </li>
                    </ol>
                </div>
            </div>
            <p>
                <a class="btn btn-primary" href="#" role="button">更多注意事项 »</a>
            </p>
        </div>
    </div>

    <hr>
</div>

<footer class="container">
    <p>© Library System 2019</p>
</footer>

</body>
</html>