<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Bootstrap CSS -->

    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/litera/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-pLgJ8jZ4aoPja/9zBSujjzs7QbkTKvKw1+zfKuumQF9U+TH3xv09UUsRI52fS+A6" crossorigin="anonymous">

    <title>查询</title>

</head>
<body>


<!--导航栏-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container" >
        <!--登陆和注册的导航栏链接-->
        <a class="navbar-brand" href="/" style="font-size: 1.5rem; color: white">城市书吧</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07"
                aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--判断是否登录-->
        {% csrf_token %}
        <div class="btn-group" role="group" style="font-size: 1rem">

            {% if request.session.user_name %}

            <a class="my-2 my-sm-0 nav-link" style="color: white">欢迎您，读者 {{request.session.user_name}}</a>

            <a href="/user" class="my-2 my-sm-0">
                <button class="btn btn-info" type="submit">账号</button>
            </a>
            <a href="/logout" class="my-2 my-sm-0">
                <button class="btn btn-danger" type="submit">退出</button>
            </a>

            {% else %}
            <a href="/login" class="my-2 my-sm-0">
                <button class="btn btn-info" type="submit">登录</button>
            </a>
            <a href="/register" class="my-2 my-sm-0">
                <button class="btn btn-success" type="submit">注册</button>
            </a>

            {% endif %}
        </div>
    </div>
</nav>

<div class="container" style="padding-top: 30px">
    <div class="row">
        <div class="col-md-3">

            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">About {{ q.user_name }}</div>
                <div class="card-body">
                    <ol class="list-unstyled">
                            <li>
                                <strong>Name: </strong><br>{{ q.user_phone }}
                            </li>
                            <li>
                                <strong>Birthday:</strong> <br>{{ q.user_birthday }}
                            </li>
                            <li>
                                <strong>Gender:</strong> <br>{{ q.user_gender }}
                            </li>
                            <li>
                                <strong>Email:</strong> <br>{{ q.user_email }}
                            </li>
                            <li>
                                <strong>Something Else</strong>

                            </li>

                        </ol>
                </div>
            </div>

            <div class="sidebar-module">
                <a href="/user/" class="btn btn-block btn-outline-info">借还书记录</a>
                <a href="/modify" class="btn btn-block btn-outline-warning">修改账号信息</a>
            </div>
        </div>
        <!-- /.blog-sidebar -->

        <div class="col-md-9">
            <div class="sidebar-module">

                <h5>借还书记录 {{ record_number }} 本</h5>
                <hr>
                <div class="media">
                    <div class="media-body">

                        <!-- 展示借还书记录-->

                        <table class="table table-hover table-striped" style="font-size: 0.8rem">
                            <tr class="table-primary">
                                <th>书名</th>
                                <th style="width: 174px">作者</th>
                                <th>出版社</th>
                                <th>借出时间</th>
                                <th>归还时间</th>
                            </tr>
                            {% for record in records %}
                            <tr>
                                <td>
                                    <a href="/book/{{ record.book.book_isbn }}"> {{record.book.book_name}} </td>
                                </td>
                                <td>{{record.book.book_author}}</td>
                                <td>{{record.book.book_press}}</td>
                                <td>{{record.borrow_time}}</td>
                                {% if record.is_return == "False" %}
                                <td>
                                    <a href="/return/{{record.book.book_isbn}}" class="btn btn-sm btn-outline-success">还书</a>
                                </td>
                                {% else %}
                                <td>{{record.return_time}}</td>
                                {% endif %}
                            </tr>
                            {% endfor %}


                        </table>


                    </div>
                </div>

            </div>
        </div>


    </div>
    <!-- /.row -->

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
{# 以下三者的引用顺序是固定的#}
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>

